@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        height: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #333;
        border-radius: 9999px;
    }

    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #333 transparent;
    }
}